/* Apply a background image */
.App {
  background-image: url('../public/images/background1.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* Replace with the path to your image */
  background-position: center;
  background-repeat: no-repeat;
  /* Set the desired height */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
   
}



/*home*/

.home {
  text-align: center;
  padding: 50px;
  margin-left: 20px;
}

.home h2 {
  font-size: 36px;
  color: #e2e7ed;
}

.home p {
  font-size: 24px;
  color: #808080;
  margin-top: 20px;
}
/*typing effect*/
.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/* Optional: Add styling for the text */
.typing-effect {
  font-size: 24px;
  font-weight: bold;
  color: #e5e510;
  font-family:cursive;
}


/* Add more styles for additional content, images, and data */
/* Additional styles for the entire app */



/* Add more styles as needed */

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
  margin: 0;
  font-size: 28px;
}

.logo img {
  width: 150px; /* Adjust the size of the logo as needed */
}

.nav-links {
  list-style: none;
  padding: 30;
  margin: 30;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links li p  {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  background-color:none ;
  cursor: pointer;

}

.nav-links li p:hover {
  background-color: #ffd700;
  color: #1e90ff;
  border-radius: 10px;
  padding: 10px;
}

/*offcanvas*/
.offcanvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.offcanvas {
  background: #ffffff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* Limiting the maximum width */
  width: 100%; /* Make sure it takes full width */
  
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  color: #007bff;
}

p:hover {
  text-decoration: underline;
}

.close-btn{
  background-color: rgb(173, 18, 18);
  max-width: 30px;
}

